.bloc-actu {
  background-color: black;
  text-align: center;
  max-width: 100%;
  padding-bottom: $space-between-section;

  .inner {

    h2 {
      color: $color-2;
      strong {
        color: #fff;
      }
    }

    .news-container {
      display: flex;
      justify-content: space-between;

      .news-slider {
        display: flex;
        align-items: flex-start;
        width: 1020px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }

        &:hover {
          .more {
            color: $color-2;
          }
        }

        img {
          width: 1020px;
          height: 640px;
          object-fit: cover;
        }

        .news-slider-info {
          position: absolute;
          z-index: 5;
          top: 0;
          color: #ffffff;
          height: 640px;
          width: 100%;

          .news-slider-category {
            background-color: $color-2;
            border: 2px solid #ffffff;
            border-radius: 5px;
            padding: 2px 5px;
            position: absolute;
            z-index: 5;
            top: 1em;
            left: 1em;
            color: #000000;
            font-size: 22px;
          }

          .news-slider-title {
            position: absolute;
            z-index: 5;
            bottom: 0;
            text-align: left;
            padding: 0 1em;
            max-width: 85%;

            h3 {
              font-size: 60px;
              margin-bottom: 30px;
            }

            p {
              font-size: 22px;
            }
          }
        }
      }

      .news-list {
        background-color: #ffffff;
        width: 290px;
        height: 640px;
        overflow-y: hidden;

        .news-list-title {
          font-family: $ff-strong;
          padding: 10px;
          border-bottom: 5px solid #000000;
          font-size: 30px;
        }

        ul {
          .news-item {
            border-bottom: solid 2px rgba(#000000, 0.2);

            &:hover {
              background-color: rgba(#000000, 0.1);
              transition: all ease-in-out;
            }

            &:nth-child(odd) {
              .square {
                background-color: $color-3;
              }
            }

            a {
              padding: 5px;
              overflow: hidden;
              width: 100%;
              text-align: left;
              align-items: baseline;
              display: flex;

              .square {
                background-color: $color-2;
                width: 8px;
                height: 8px;
                aspect-ratio: 1;
                display: block;
                margin: 8px;
                position: relative;
                bottom: 2px;
              }

              .news-sub {
                display: block;
                width: 100%;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
