$ff-title: 'Chelsea Basis', sans-serif !default;
$ff-body: 'Lato', sans-serif !default; 

$fw-light: 200 !default;
$fw-normal: 300 !default;
$fw-bold: 600 !default;

$fsz-body: 16px !default;
$fsz-h1: 32px !default;
$fsz-h2: 22px !default;
$fsz-h3: 20px !default;

$lh-body: 1.7rem !default;

$body-color: #131313 !default;
$h1-color: #131313 !default;
$h2-color: #131313 !default;
$h3-color: #131313 !default;

$color-1: #131313 !default;
$color-2: #ffb615 !default;
$color-3: #8d042d !default;

$color-link: #1ebac5 !default;

$small-value: 1rem !default;
$medium-value: 2rem !default;
$large-value: 3rem !default;

$radius: 25px !default;
$space-between-section: 70px !default;

$transition: all, 150ms, ease-in-out !default;

$breakpoints: (

large-plus-screen: 1400px,
large-screen: 1280px,
medium-plus-screen: 1024px,
medium-screen: 960px,
small-plus-screen: 768px,
small-screen: 640px,
tiny-plus-screen: 480px,
tiny-screen: 320px

);