* {
  font-family: $ff-body;
  box-sizing: border-box;
  font-size: $fsz-body;
}

body {
  line-height: 1.7em;
  margin: 0;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: $space-between-section 0;
}

h1 {
  margin: 0;
  color: #fff;
  padding: 5rem 0;
  font-size: 40px;
  font-family: $ff-title;
}

h2 {
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: $ff-title;text-transform: uppercase;
}

h3 {
  font-family: $ff-title;
}

.button {
  padding: 5px 15px;
  background-color: transparent;
  border-radius: $radius;
  @include transition();

  &.c1 {
    color: $color-1;
    border: 1px solid $color-1;

    &:hover {
      background-color: $color-1;
      color: #ffffff;
    }
  }

  &.c2 {
    color: $color-2;
    border: 1px solid $color-2;

    &:hover {
      background-color: $color-2;
      color: #000000;
    }
  }

  &.c3 {
    color: $color-3;
    border: 1px solid $color-3;

    &:hover {
      background-color: $color-3;
      color: #ffffff;
    }
  }
}

.hidden {
  display: none;
}