* {
  font-family: $ff-body;
  box-sizing: border-box;
  font-size: $fsz-body;
}

body {
  line-height: 1.7em;
  margin: 0;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 20px;
  font-style: italic;
  letter-spacing: 2px;
  font-family: $ff-title;

  strong {
    font-family: $ff-strong;
    font-size: 50px;
    display: block;
    margin-top: 10px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.button {
  padding: 5px 15px;
  background-color: transparent;
  border-radius: $radius;

  &.c1 {
    color: $color-1;
    border: 1px solid $color-1;

    &:hover {
      background-color: $color-1;
      transition: 0.3s ease;
      color: #ffffff;
    }
  }

  &.c2 {
    color: $color-2;
    border: 1px solid $color-2;

    &:hover {
      background-color: $color-2;
      transition: 0.3s ease;
      color: #000000;
    }
  }

  &.c3 {
    color: $color-3;
    border: 1px solid $color-3;

    &:hover {
      background-color: $color-3;
      transition: 0.3s ease;
      color: #ffffff;
    }
  }
}

// JOUEURS ET STAFF //

.team-filter-container {
  text-align: center;

  ul {
    display: flex;
    justify-content: space-between;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin: 2rem auto;

    .li {
      background-color: #ffffff;
      border: 2px solid $color-3;
      padding: 2px 5px;
      color: $color-3;

      &:hover {
        background-color: $color-3;
        color: #ffffff;
        cursor: pointer;
      }

      &.filter-active {
        background-color: $color-3;
        color: #ffffff;
      }
    }
  }
}

.team-layout, .staff-layout {

  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}