.bloc-matchs {
  padding-bottom: $space-between-section;
  background-color: #f1f1f1;

  .bloc-matchs-content {
    .match-head {
      text-align: center;

      h2 {
        color: $color-3;
        strong {
          color: #000000;
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        max-width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin: 2rem auto;

        .matchs-filter {
          background-color: #ffffff;
          border: 2px solid $color-3;
          padding: 2px 5px;
          color: $color-3;

          &:hover {
            background-color: $color-3;
            color: #ffffff;
            cursor: pointer;
          }

          &.filter-active {
            background-color: $color-3;
            color: #ffffff;
          }
        }
      }
    }

    .match-main {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .last-match,
      .leaderboard-container,
      .next-match {
        width: 25%;
        text-align: center;
        padding: 0 1em 1em;
        background-color: #ffffff;

        h3 {
          font-size: 22px;
          font-family: $ff-strong;
        }

        &.last-match {
          .competition-infos {
            .last-match-stadium {
              font-family: "Gentium";
              font-style: italic;
              font-weight: bold;
              font-size: 18px;
            }
          }

          p {
            margin: 0;
            font-size: 16px;
          }

          .last-match-result {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              width: auto;
              height: 80px;
            }

            .score {
              font-family: $ff-strong;
              font-size: 28px;
              border: 1px solid rgba(#000000, 0.3);
              padding: 5px 12px;
            }
          }

          .last-match-teams {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 35%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;

            p {
              font-family: $ff-strong;
              font-size: 24px;
              text-transform: uppercase;

              &.versus {
                font-family: "Gentium";
                color: $color-3;
                text-transform: lowercase;
                font-size: 18px;
              }
            }
          }
        }

        &.next-match {
          width: 40%;
          background-color: #000000;
          color: #ffffff;

          .next-match-infos {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
              width: auto;
              height: 120px;
            }

            .competition-infos {
              p {
                margin: 0;
              }

              .next-match-stadium {
                font-family: "Gentium";
                font-style: italic;
                font-weight: bold;
                font-size: 18px;
              }
            }
          }
          .next-match-teams {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 25%;
            margin-left: auto;
            margin-right: auto;

            p {
              font-family: $ff-strong;
              font-size: 35px;
              text-transform: uppercase;

              &.versus {
                font-family: "Gentium";
                color: $color-2;
                text-transform: lowercase;
                font-size: 18px;
              }
            }
          }
        }

        &.leaderboard-container {
          padding-left: 0;
          padding-right: 0;
          
          .leaderboard-row {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            align-items: center;
            background-color: #f8f8f8;
            padding: 5px 0;
           
            &:last-child {
              margin-bottom: 1rem;
            }

            &:nth-child(even) {
              background-color: #ffffff;
            }

            .position,
            .team-name,
            .points {
              font-weight: bold;
            }
            .position {
              width: 20%;
              padding-left: 5%;
              text-align: right;
            }

            .team-name {
              width: 70%;
              text-align: left;
              padding-left: 5%;
              padding-right: 5%;
            }

            .points {
              width: 15%;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
