@font-face {
  font-family: "Dusha";
  src: url(".//fonts/DushaRegular.woff2") format("woff2"), url(".//fonts/DushaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-BoldItalic.woff2") format("woff2"), url(".//fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Bold.woff2") format("woff2"), url(".//fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dusha";
  src: url(".//fonts/DushaRegular.woff2") format("woff2"), url(".//fonts/DushaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Italic.woff2") format("woff2"), url(".//fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Light.woff2") format("woff2"), url(".//fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-LightItalic.woff2") format("woff2"), url(".//fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Regular.woff2") format("woff2"), url(".//fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-Semibold.woff2") format("woff2"), url(".//fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(".//fonts/Lato-SemiboldItalic.woff2") format("woff2"), url(".//fonts/Lato-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gentium";
  src: url(".//fonts/GentiumBasic-Bold.woff2") format("woff2"), url(".//fonts/GentiumBasic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gentium";
  src: url(".//fonts/GentiumBasic.woff2") format("woff2"), url(".//fonts/GentiumBasic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gentium";
  src: url(".//fonts/GentiumBasic-BoldItalic.woff2") format("woff2"), url(".//fonts/GentiumBasic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gentium";
  src: url(".//fonts/GentiumBasic-Italic.woff2") format("woff2"), url(".//fonts/GentiumBasic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ashemore";
  src: url(".//fonts/AshemoreW01-NormBold.woff2") format("woff2"), url(".//fonts/AshemoreW01-NormBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ashemore";
  src: url(".//fonts/AshemoreW01-NormBold.woff2") format("woff2"), url(".//fonts/AshemoreW01-NormBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  line-height: 1.7em;
  margin: 0;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 20px;
  font-style: italic;
  letter-spacing: 2px;
  font-family: "Gentium", sans-serif;
}
h2 strong {
  font-family: "Dusha", sans-serif;
  font-size: 50px;
  display: block;
  margin-top: 10px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.button {
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 25px;
}
.button.c1 {
  color: #131313;
  border: 1px solid #131313;
}
.button.c1:hover {
  background-color: #131313;
  transition: 0.3s ease;
  color: #ffffff;
}
.button.c2 {
  color: #ffb615;
  border: 1px solid #ffb615;
}
.button.c2:hover {
  background-color: #ffb615;
  transition: 0.3s ease;
  color: #000000;
}
.button.c3 {
  color: #8d042d;
  border: 1px solid #8d042d;
}
.button.c3:hover {
  background-color: #8d042d;
  transition: 0.3s ease;
  color: #ffffff;
}

.inner {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

header .topbar {
  background-color: #131313;
}
header .topbar a {
  color: white;
}
header .topbar a:hover {
  color: #bf9b30;
}
header .topbar a:hover i {
  color: #bf9b30 !important;
}
header .topbar ul {
  display: flex;
}
header .topbar ul div {
  display: flex;
  align-items: center;
}
header .topbar ul div li {
  display: flex;
  align-items: center;
  margin: 10px 40px;
}
header .topbar ul div li a i {
  padding-left: 10px;
}
header .topbar ul #left-top {
  margin-right: auto;
}
header .topbar ul #left-top li {
  margin-left: 0;
}
header .topbar ul #right-top {
  margin-left: auto;
}
header .topbar ul #right-top .SearchBar {
  display: flex;
}
header .topbar ul #right-top .SearchBar .SearchText {
  border: none;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 15px 0px 0px 15px;
}
header .topbar ul #right-top .SearchBar .SearchButton {
  border-radius: 0 15px 15px 0;
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 0 16px 16px 0;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
}
header .topbar ul #right-top li {
  margin-right: 0;
}
header .topbar ul #right-top li i {
  color: white;
}
header .navbar .navbar-content ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
header .navbar .navbar-content ul li {
  display: flex;
  align-items: center;
  margin: 40px;
  justify-content: center;
}
header .navbar .navbar-content ul li:not(.logo-li) {
  flex: 1;
}
header .navbar .navbar-content ul li:hover {
  cursor: pointer;
}
header .navbar .navbar-content ul li:hover a {
  color: #bf9b30;
}
header .navbar .navbar-content ul li a {
  font-size: 18px;
}
header .navbar .navbar-content ul li a i {
  padding-left: 5px;
}
header .navbar .navbar-content ul li a img {
  padding: 5px 0;
  max-height: 120px;
}
header .navbar .navbar-content ul .logo-li {
  margin-top: 0;
  margin-bottom: 0;
}
header .navbar .navbar-content ul .logo-li a {
  height: 120px;
}
header .navbar .navbar-content ul .logo-li a img {
  transition: opacity 0.5s ease;
}
header .navbar .navbar-content ul .logo-li a img:hover {
  opacity: 0.8;
}

footer .footer-links {
  background-color: #131313;
  padding-bottom: 70px;
}
footer .footer-links .footer-container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding-top: 3rem;
}
footer .footer-links .footer-container nav {
  color: #fff;
  width: 100%;
}
footer .footer-links .footer-container nav h3 {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 20px;
}
footer .footer-links .footer-container nav a {
  color: #fff;
  opacity: 0.7;
  font-size: 16px;
}
footer .footer-links .footer-container nav a:hover {
  opacity: 1;
}
footer .footer-links .footer-container .footer-aside ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-links .footer-container .footer-aside ul a {
  margin-right: 15px;
}
footer .footer-links .footer-container .footer-aside .footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-links .footer-container .footer-aside .footer-logos img {
  margin-top: 3rem;
  height: auto;
  max-width: 60px;
  margin-right: 15px;
}
footer .footer-links .footer-container .footer-aside .footer-logos img:last-child {
  margin-right: 0;
}

.bloc-actu {
  background-color: black;
  text-align: center;
  max-width: 100%;
  padding-bottom: 70px;
}
.bloc-actu .inner h2 {
  color: #ffb615;
}
.bloc-actu .inner h2 strong {
  color: #fff;
}
.bloc-actu .inner .news-container {
  display: flex;
  justify-content: space-between;
}
.bloc-actu .inner .news-container .news-slider {
  display: flex;
  align-items: flex-start;
  width: 1020px;
  position: relative;
}
.bloc-actu .inner .news-container .news-slider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.bloc-actu .inner .news-container .news-slider:hover .more {
  color: #ffb615;
}
.bloc-actu .inner .news-container .news-slider img {
  width: 1020px;
  height: 640px;
  object-fit: cover;
}
.bloc-actu .inner .news-container .news-slider .news-slider-info {
  position: absolute;
  z-index: 5;
  top: 0;
  color: #ffffff;
  height: 640px;
  width: 100%;
}
.bloc-actu .inner .news-container .news-slider .news-slider-info .news-slider-category {
  background-color: #ffb615;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 0 5px;
  position: absolute;
  z-index: 5;
  top: 1em;
  left: 1em;
  color: #000000;
  font-size: 16px;
}
.bloc-actu .inner .news-container .news-slider .news-slider-info .news-slider-title {
  position: absolute;
  z-index: 5;
  bottom: 0;
  text-align: left;
  padding: 0 1em;
  max-width: 85%;
}
.bloc-actu .inner .news-container .news-slider .news-slider-info .news-slider-title h3 {
  font-size: 60px;
  margin-bottom: 30px;
}
.bloc-actu .inner .news-container .news-slider .news-slider-info .news-slider-title p {
  font-size: 22px;
}
.bloc-actu .inner .news-container .news-list {
  background-color: #ffffff;
  width: 290px;
  height: 640px;
  overflow-y: hidden;
}
.bloc-actu .inner .news-container .news-list .news-list-title {
  font-family: "Dusha", sans-serif;
  padding: 10px;
  border-bottom: 5px solid #000000;
  font-size: 30px;
}
.bloc-actu .inner .news-container .news-list ul .news-item {
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}
.bloc-actu .inner .news-container .news-list ul .news-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out;
}
.bloc-actu .inner .news-container .news-list ul .news-item:nth-child(odd) .square {
  background-color: #8d042d;
}
.bloc-actu .inner .news-container .news-list ul .news-item a {
  padding: 5px;
  overflow: hidden;
  width: 100%;
  text-align: left;
  align-items: baseline;
  display: flex;
}
.bloc-actu .inner .news-container .news-list ul .news-item a .square {
  background-color: #ffb615;
  width: 8px;
  height: 8px;
  aspect-ratio: 1;
  display: block;
  margin: 8px;
  position: relative;
  bottom: 2px;
}
.bloc-actu .inner .news-container .news-list ul .news-item a .news-sub {
  display: block;
  width: 100%;
  font-size: 14px;
}

.bloc-matchs {
  padding-bottom: 70px;
  background-color: #f1f1f1;
}
.bloc-matchs .bloc-matchs-content .match-head {
  text-align: center;
}
.bloc-matchs .bloc-matchs-content .match-head h2 {
  color: #8d042d;
}
.bloc-matchs .bloc-matchs-content .match-head h2 strong {
  color: #000000;
}
.bloc-matchs .bloc-matchs-content .match-head ul {
  display: flex;
  justify-content: space-between;
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin: 2rem auto;
}
.bloc-matchs .bloc-matchs-content .match-head ul .matchs-filter {
  background-color: #ffffff;
  border: 2px solid #8d042d;
  padding: 2px 5px;
  color: #8d042d;
}
.bloc-matchs .bloc-matchs-content .match-head ul .matchs-filter:hover {
  background-color: #8d042d;
  color: #ffffff;
  cursor: pointer;
}
.bloc-matchs .bloc-matchs-content .match-head ul .matchs-filter.filter-active {
  background-color: #8d042d;
  color: #ffffff;
}
.bloc-matchs .bloc-matchs-content .match-main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container,
.bloc-matchs .bloc-matchs-content .match-main .next-match {
  width: 25%;
  text-align: center;
  padding: 0 1em 1em;
  background-color: #ffffff;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match h3,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container h3,
.bloc-matchs .bloc-matchs-content .match-main .next-match h3 {
  font-size: 22px;
  font-family: "Dusha", sans-serif;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .competition-infos .last-match-stadium,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .competition-infos .last-match-stadium,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .competition-infos .last-match-stadium {
  font-family: "Gentium";
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match p,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match p,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match p {
  margin: 0;
  font-size: 16px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .last-match-result,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .last-match-result,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .last-match-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .last-match-result img,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .last-match-result img,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .last-match-result img {
  width: auto;
  height: 80px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .last-match-result .score,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .last-match-result .score,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .last-match-result .score {
  font-family: "Dusha", sans-serif;
  font-size: 28px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 12px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .last-match-teams,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .last-match-teams,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .last-match-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .last-match-teams p,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .last-match-teams p,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .last-match-teams p {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.last-match .last-match-teams p.versus,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.last-match .last-match-teams p.versus,
.bloc-matchs .bloc-matchs-content .match-main .next-match.last-match .last-match-teams p.versus {
  font-family: "Gentium";
  color: #8d042d;
  text-transform: lowercase;
  font-size: 18px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match {
  width: 40%;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match:before,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match:before,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match:before {
  position: absolute;
  z-index: 0;
  content: "";
  background-image: url(../img/FDL.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match h3, .bloc-matchs .bloc-matchs-content .match-main .last-match.next-match a,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match h3,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match a,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match h3,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match a {
  position: relative;
  z-index: 2;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-infos,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-infos,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-infos img,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-infos img,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-infos img {
  width: auto;
  height: 120px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-infos .competition-infos p,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-infos .competition-infos p,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-infos .competition-infos p {
  margin: 0;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-infos .competition-infos .next-match-stadium,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-infos .competition-infos .next-match-stadium,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-infos .competition-infos .next-match-stadium {
  font-family: "Gentium";
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-teams,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-teams,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-teams p,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-teams p,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-teams p {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.next-match .next-match-teams p.versus,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.next-match .next-match-teams p.versus,
.bloc-matchs .bloc-matchs-content .match-main .next-match.next-match .next-match-teams p.versus {
  font-family: "Gentium";
  color: #ffb615;
  text-transform: lowercase;
  font-size: 18px;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container {
  padding-left: 0;
  padding-right: 0;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  background-color: #f8f8f8;
  padding: 5px 0;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row:last-child,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row:last-child,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row:last-child {
  margin-bottom: 1rem;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row:nth-child(even),
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row:nth-child(even),
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row:nth-child(even) {
  background-color: #ffffff;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row .position,
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row .team-name,
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row .points,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row .position,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row .team-name,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row .points,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row .position,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row .team-name,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row .points {
  font-weight: bold;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row .position,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row .position,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row .position {
  width: 20%;
  padding-left: 5%;
  text-align: right;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row .team-name,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row .team-name,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row .team-name {
  width: 70%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
.bloc-matchs .bloc-matchs-content .match-main .last-match.leaderboard-container .leaderboard-row .points,
.bloc-matchs .bloc-matchs-content .match-main .leaderboard-container.leaderboard-container .leaderboard-row .points,
.bloc-matchs .bloc-matchs-content .match-main .next-match.leaderboard-container .leaderboard-row .points {
  width: 15%;
  text-align: left;
}
.bloc-matchs .bloc-matchs-content .match-main.equipePro, .bloc-matchs .bloc-matchs-content .match-main.equipeFem, .bloc-matchs .bloc-matchs-content .match-main.equipeRes, .bloc-matchs .bloc-matchs-content .match-main.equipeU19 {
  display: none;
}
.bloc-matchs .bloc-matchs-content .match-main.filter-active-content {
  display: flex;
}

.bloc-billetterie {
  padding-bottom: 70px;
  max-width: 100%;
  text-align: center;
  background-color: #f1f1f1;
}
.bloc-billetterie .bloc-billeterie-head h2 {
  color: #8d042d;
  margin-bottom: 2rem;
}
.bloc-billetterie .bloc-billeterie-head h2 strong {
  color: #000000;
}
.bloc-billetterie .billetterie-main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.bloc-billetterie .billetterie-main .stadium-tour,
.bloc-billetterie .billetterie-main .museum,
.bloc-billetterie .billetterie-main .next-match {
  width: 25%;
  text-align: center;
  padding: 1em;
  background-color: #ffffff;
  position: relative;
}
.bloc-billetterie .billetterie-main .stadium-tour h3,
.bloc-billetterie .billetterie-main .museum h3,
.bloc-billetterie .billetterie-main .next-match h3 {
  font-size: 22px;
  font-family: "Dusha", sans-serif;
}
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour,
.bloc-billetterie .billetterie-main .museum.stadium-tour,
.bloc-billetterie .billetterie-main .next-match.stadium-tour {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour h3,
.bloc-billetterie .billetterie-main .museum.stadium-tour h3,
.bloc-billetterie .billetterie-main .next-match.stadium-tour h3 {
  color: #ffffff;
  font-size: 40px;
  max-width: 50%;
  margin-top: 0;
  line-height: 1.2em;
}
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour p,
.bloc-billetterie .billetterie-main .museum.stadium-tour p,
.bloc-billetterie .billetterie-main .next-match.stadium-tour p {
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour h3,
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour a, .bloc-billetterie .billetterie-main .stadium-tour.stadium-tour p,
.bloc-billetterie .billetterie-main .museum.stadium-tour h3,
.bloc-billetterie .billetterie-main .museum.stadium-tour a,
.bloc-billetterie .billetterie-main .museum.stadium-tour p,
.bloc-billetterie .billetterie-main .next-match.stadium-tour h3,
.bloc-billetterie .billetterie-main .next-match.stadium-tour a,
.bloc-billetterie .billetterie-main .next-match.stadium-tour p {
  position: relative;
  z-index: 2;
}
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour:before,
.bloc-billetterie .billetterie-main .museum.stadium-tour:before,
.bloc-billetterie .billetterie-main .next-match.stadium-tour:before {
  position: absolute;
  z-index: 0;
  content: "";
  background-image: url(../img/runway1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bloc-billetterie .billetterie-main .stadium-tour.stadium-tour:after,
.bloc-billetterie .billetterie-main .museum.stadium-tour:after,
.bloc-billetterie .billetterie-main .next-match.stadium-tour:after {
  background: #000000;
  opacity: 0.5;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match,
.bloc-billetterie .billetterie-main .museum.next-match,
.bloc-billetterie .billetterie-main .next-match.next-match {
  width: 40%;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  padding-top: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match:before,
.bloc-billetterie .billetterie-main .museum.next-match:before,
.bloc-billetterie .billetterie-main .next-match.next-match:before {
  position: absolute;
  z-index: 0;
  content: "";
  background-image: url(../img/360_F_248653851_lMw1RUwPLpaBsSCT31eE3ZDY8WkIFpiq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match:after,
.bloc-billetterie .billetterie-main .museum.next-match:after,
.bloc-billetterie .billetterie-main .next-match.next-match:after {
  background: #000000;
  opacity: 0.3;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match h3,
.bloc-billetterie .billetterie-main .stadium-tour.next-match a,
.bloc-billetterie .billetterie-main .museum.next-match h3,
.bloc-billetterie .billetterie-main .museum.next-match a,
.bloc-billetterie .billetterie-main .next-match.next-match h3,
.bloc-billetterie .billetterie-main .next-match.next-match a {
  position: relative;
  z-index: 2;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-infos,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-infos,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-infos img,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-infos img,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-infos img {
  width: auto;
  height: 120px;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-infos .competition-infos p,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-infos .competition-infos p,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-infos .competition-infos p {
  margin: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-infos .competition-infos .next-match-stadium,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-infos .competition-infos .next-match-stadium,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-infos .competition-infos .next-match-stadium {
  font-family: "Gentium";
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-teams,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-teams,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-teams p,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-teams p,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-teams p {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
}
.bloc-billetterie .billetterie-main .stadium-tour.next-match .next-match-teams p.versus,
.bloc-billetterie .billetterie-main .museum.next-match .next-match-teams p.versus,
.bloc-billetterie .billetterie-main .next-match.next-match .next-match-teams p.versus {
  font-family: "Gentium";
  color: #ffb615;
  text-transform: lowercase;
  font-size: 18px;
}
.bloc-billetterie .billetterie-main .stadium-tour.museum,
.bloc-billetterie .billetterie-main .museum.museum,
.bloc-billetterie .billetterie-main .next-match.museum {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bloc-billetterie .billetterie-main .stadium-tour.museum:before,
.bloc-billetterie .billetterie-main .museum.museum:before,
.bloc-billetterie .billetterie-main .next-match.museum:before {
  position: absolute;
  z-index: 0;
  content: "";
  background-image: url(../img/rcde-stadium-trophees-2021-09-30-illus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bloc-billetterie .billetterie-main .stadium-tour.museum:after,
.bloc-billetterie .billetterie-main .museum.museum:after,
.bloc-billetterie .billetterie-main .next-match.museum:after {
  background: #000000;
  opacity: 0.5;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.museum h3,
.bloc-billetterie .billetterie-main .museum.museum h3,
.bloc-billetterie .billetterie-main .next-match.museum h3 {
  font-size: 40px;
  max-width: 50%;
  margin-top: 0;
  line-height: 1.2em;
}
.bloc-billetterie .billetterie-main .stadium-tour.museum p,
.bloc-billetterie .billetterie-main .museum.museum p,
.bloc-billetterie .billetterie-main .next-match.museum p {
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.bloc-billetterie .billetterie-main .stadium-tour.museum h3,
.bloc-billetterie .billetterie-main .stadium-tour.museum a, .bloc-billetterie .billetterie-main .stadium-tour.museum p,
.bloc-billetterie .billetterie-main .museum.museum h3,
.bloc-billetterie .billetterie-main .museum.museum a,
.bloc-billetterie .billetterie-main .museum.museum p,
.bloc-billetterie .billetterie-main .next-match.museum h3,
.bloc-billetterie .billetterie-main .next-match.museum a,
.bloc-billetterie .billetterie-main .next-match.museum p {
  position: relative;
  z-index: 2;
}

.bloc-boutique {
  padding-bottom: 70px;
  background-color: black;
  max-width: 100%;
  text-align: center;
}
.bloc-boutique .bloc-boutique-content {
  z-index: 2;
  position: relative;
}
.bloc-boutique .bloc-boutique-content h2 {
  color: #ffb615;
  margin-bottom: 2rem;
}
.bloc-boutique .bloc-boutique-content h2 strong {
  color: #ffffff;
}
.bloc-boutique .bloc-boutique-content .container-produits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-items: center;
}
.bloc-boutique .bloc-boutique-content .container-produits .produit {
  background-color: #222222;
  max-width: 80%;
  overflow: hidden;
  position: relative;
  border-radius: 300px;
  display: inline-block;
}
.bloc-boutique .bloc-boutique-content .container-produits .produit:hover img {
  transition: transform 0.5s ease;
  transform: scale(0.9);
}
.bloc-boutique .bloc-boutique-content .container-produits .produit img {
  width: auto;
  height: 300px;
}
.bloc-boutique .bloc-boutique-content .container-produits .produit:first-child {
  background-color: #8d042d;
}
.bloc-boutique .bloc-boutique-content .container-produits .produit:last-child {
  background-color: #ffb615;
}
.bloc-boutique .bloc-boutique-content .accroche {
  color: #ffffff;
  font-size: 45px;
}

.banner {
  display: flex;
  height: 15px;
  --odd-background: #ffb615;
  --even-background: #8d042d;
  --line-height: 99px;
  line-height: var(--line-height);
  background: repeating-linear-gradient(to right, var(--odd-background), var(--odd-background) var(--line-height), var(--even-background) var(--line-height), var(--even-background) calc(2 * var(--line-height)));
  background-size: calc(2 * var(--line-height)) 100%;
}

.bloc-sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  padding: 1rem 0;
}
.bloc-sponsors h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.bloc-sponsors .premium-sponsors,
.bloc-sponsors .major-sponsors,
.bloc-sponsors .official-sponsors {
  text-align: center;
  margin: 1rem 0;
}
.bloc-sponsors .premium-sponsors ul,
.bloc-sponsors .major-sponsors ul,
.bloc-sponsors .official-sponsors ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc-sponsors .premium-sponsors ul li,
.bloc-sponsors .major-sponsors ul li,
.bloc-sponsors .official-sponsors ul li {
  margin-right: 80px;
  margin-left: 50px;
}
.bloc-sponsors .premium-sponsors ul img,
.bloc-sponsors .major-sponsors ul img,
.bloc-sponsors .official-sponsors ul img {
  width: auto;
  max-width: 85px;
  height: auto;
  max-height: 45px;
  opacity: 0.7;
}
.bloc-sponsors .premium-sponsors ul img:hover,
.bloc-sponsors .major-sponsors ul img:hover,
.bloc-sponsors .official-sponsors ul img:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  opacity: 1;
}

.bloc-pages-enfants {
  padding: 70px 0;
}
.bloc-pages-enfants .pages-enfants {
  display: grid;
  grid-gap: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.bloc-pages-enfants .pages-enfants a {
  padding: 2rem;
  text-align: center;
  font-size: 22px;
  background: #8d042d;
  color: #fff;
  display: block;
}
.bloc-pages-enfants .pages-enfants a:hover {
  background: #ffb615;
  color: #131313;
  transition: 300ms ease;
}

.cover {
  margin: 0;
  position: relative;
  height: 210px;
}
.cover .image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
}
.cover .title {
  position: absolute;
  z-index: 3;
}
.cover h1 {
  margin: 0;
  color: #fff;
  padding: 5rem 0;
  font-size: 40px;
}

/*# sourceMappingURL=index.css.map */
